.document {
  padding: 8rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
  & .document-title {
    text-align: center;
    font-size: 2rem;
  }
  & .statement {
    & .statement-summary {
      padding: var(--p1);
      font-size: 1.2rem;
      text-align: left;
    }
    & .minimized {
      display: flex;
      & > button {
        display: block;
        border: none;
        flex: 1 1 auto;
        cursor: pointer;
        &:hover {
          background-color: #fafafa;
        }
      }
      & > .drag-handle {
        flex: none;
        cursor: move;
      }
    }
    & .maximized {
      & input[type='text'] {
        border: none;
        width: 100%;
      }
    }
  }
}
