.fadein {
  opacity: 0;
}
.image {
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 100% auto;
}
.note {
  display: inline-block;
  background: $orange;
  padding: 0 10px;
}
.summary {
  p:last-child {
    margin:0;
  }
}
