/*--------------------------------------*\
      Colors
\*--------------------------------------*/

$black:   #000;
$gray:    #aaa;
$silver:  #ddd;
$white:   #fff;

$aqua:    #7fdbff;
$blue:    #0074d9;
$navy:    #001f3f;
$teal:    #39cccc;
$green:   #2ecc40;
$olive:   #3d9970;
$lime:    #01ff70;

$yellow:  #ffdc00;
$orange:  #ff851b;
$red:     #ff4136;
$fuchsia: #f012be;
$purple:  #b10dc9;
$maroon:  #85144b;

$gray-base:              #000;
$gray-darkest:            lighten($gray-base, 7.5%);
$gray-darkerer:            lighten($gray-base, 12.5%);
$gray-darker:            lighten($gray-base, 17.5%);
$gray-dark:              lighten($gray-base, 25%);
$gray:                   lighten($gray-base, 35%);
$gray-light:             lighten($gray-base, 80%);
$gray-lighter:           lighten($gray-base, 93.5%);
$gray-lightest:          lighten($gray-base, 97%);
.gray-darkerer {
  color: $gray-darkerer;
}
/*--------------------------------------*\
      Padding
\*--------------------------------------*/

$s1: 0.5rem;
$s2: 1rem;
$s3: 2rem;
$s4: 4rem;

/*--------------------------------------*\
      Fonts
\*--------------------------------------*/

$font-heading: 'Franchise', sans-serif;
$font-body: 'Source Sans', sans-serif;
