* {
  outline: none;
}
select {
  height: 3.25rem!important;
  border-radius: 0;
}
input[type="text"], select {
  background: $gray-darkest;
}
.field {
  color: $gray-light;
}
.field:focus {
  border-color: $brand1;
}
textarea {
  resize: vertical;
  min-height: 100px;
  background: $gray-darkerer;
  color: $gray-lighter;
  border: 0;
  padding: $s1 $s2;
}
.btn, .btn:focus, .btn:active {
  border: 0;
}
