a, a:hover, a:visited, a:focus {
  text-decoration: none;
}
.quality-low {
  border-right: 10px solid $red;
}
.quality-medium {
  border-right: 10px solid $orange;
}
.quality-high {
  border-right: 10px solid $yellow;
}
.quality-complete {
  border-right: 10px solid $green;
}

