!!!
%html
  %head
    %title Book writer
    = stylesheet_link_tag "application.css", media: :all
    %link{ :href => image_path('favicon.png'), :rel => 'icon', :type => 'image/png'}
    = csrf_meta_tags
    = javascript_include_tag "application.js"
  %body.flex.flex-column
    #body.flex-auto.flex.bg-gray-darker
      = yield
