!!!
%html
  %head
    %title Preview
    = stylesheet_link_tag "application.css", media: :all
    = javascript_include_tag "application.js"

  %body.bg-gray-darker.p4
    #content.bg-gray-lighter.p4.md-col-10.lg-col-5
      = yield

  #count.fixed.bottom-0.left-0.right-0.p2.bg-gray-darkerer.gray-light.center
